@import "../styles/main.scss";

.description-container{
  margin-top: $spacing4;
  padding-left: $spacing4;
  padding-right: $spacing4;
  text-align: center;

  @media screen and (min-width: 60em){
    margin-left: $spacing6;
    margin-right: $spacing6;
  }
}

.button-container{
  margin-top: $spacing5;
  margin-bottom: $spacing5;
}