@import "../styles/main.scss";

.header {
  text-align: center;
}

.title {
  @extend .page-heading;
}

.subtitle {
  color: #777777;
}

.draft {
  background-color: $color-tertiary-light;
  margin: $spacing3;
  padding: $spacing3;

  span {
    font-size: $font-size5;
  }
}

.article {
  padding-left: $spacing2;
  padding-right: $spacing2;
  width: 100%;

  @media screen and (min-width: 60em) {
    width: 75%;
  }
}

.tag-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  div {
    margin-left: $spacing2;
    margin-right: $spacing2;
  }
}

.post-content {
  margin-top: $spacing4;
  margin-bottom: $spacing4;
}

.post-content p {
  padding-left: $spacing2;
  padding-right: $spacing2;
}

.post-end {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: $spacing4;
  margin-top: $spacing6;
  padding-top: $spacing3;
  border-bottom: 3px solid $color-secondary;
}

.sidebar {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: $spacing3;
  margin-top: $spacing4;
  margin-bottom: $spacing4;
  width: 100%;
  position: relative;

  @media screen and (min-width: 60em) {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    margin-top: 132px;
    text-align: left;
  }

  @media screen and (min-width: 25em) and (max-width: 60em) {
    border-spacing: 1em;
    text-align: left;
    position: relative;
  }
}

.sidebar-title {
  white-space: nowrap;

  @media screen and (min-width: 60em) {
    padding-left: $spacing0;
    padding-right: $spacing0;
  }
}

.recommended-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $spacing4;
  text-align: left;
  //overflow: hidden;
  
  @media screen and (min-width: 25em) {
    flex-direction: column;
  }

  @media screen and (min-width: 25em) and (max-width: 60em) {
    flex-direction: row;
  }

  @media screen and (max-width: 25em) {
    flex-direction: column;
  }
}

.recommended-post-img {
  flex-basis: 48%;
  margin: 1%;
  text-align: left;
  width: 100%;
  height: 0px;
  padding-bottom: 30%;
  object-fit: cover;
  max-height: 200px;
  
  @media screen and (max-width: 25em) {
    flex-basis: 23%;
  }
}

.recommended-post-text {
  flex-basis: 48%;
  margin: 1%;
  text-align: left;

  @media screen and (max-width: 25em) {
    flex-basis: 73%;
  }
}

.recommended-post h4,
.recommended-post p {
  margin-top: $spacing1;
  margin-bottom: $spacing1;
  font-size: $font-size5;
}

.comments {
  padding-left: $spacing2;
  padding-right: $spacing2;
  margin-bottom: $spacing4;
  text-align: center;

  @media screen and (min-width: 60em) {
    text-align: left;
  }

  @media screen and (min-width: 25em) and (max-width: 60em) {
    text-align: left;
  }
}
