@import "../styles/main.scss";

.header {
  text-align: center;
}

.title {
  @extend .page-heading;
}

.subtitle {
  color: #777777;
}

.draft {
  background-color: $color-tertiary-light;
  margin: $spacing3;
  padding: $spacing3;

  span {
    font-size: $font-size5;
  }
}

.article {
  padding-left: $spacing2;
  padding-right: $spacing2;
  width: 100%;

  @media screen and (min-width: 60em) {
    width: 75%;
  }
}

.tag-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  div {
    margin-left: $spacing2;
    margin-right: $spacing2;
  }
}

.post-content {
  margin-top: $spacing4;
  margin-bottom: $spacing4;
}

.post-content p {
  padding-left: $spacing2;
  padding-right: $spacing2;
}

.post-end {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: $spacing4;
  margin-top: $spacing6;
  padding-top: $spacing3;
  border-bottom: 3px solid $color-secondary;
}

.sidebar {
  display: table;
  text-align: center;
  margin-top: $spacing4;
  margin-bottom: $spacing4;
  width: 100%;
  position: relative;

  @media screen and (min-width: 60em) {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    margin-top: 132px;
    text-align: left;
  }

  @media screen and (min-width: 30em) and (max-width: 60em) {
    border-spacing: 1em;
    text-align: left;
  }
}

.sidebar-title {
  padding-left: $spacing4;
  padding-right: $spacing4;
  white-space: nowrap;

  @media screen and (min-width: 60em) {
    padding-left: $spacing0;
    padding-right: $spacing0;
  }
}

.recommended-post {
  display: inline-block;
  margin-bottom: $spacing4;
  width: 90%;
  text-align: left;

  @media screen and (min-width: 60em) {
    display: block;
  }
  @media screen and (min-width: 30em) and (max-width: 60em) {
    display: table-row;
  }
}

.recommended-post-img {
  width: 100%;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  max-width: 100%;
  max-height: 300px;

  @media screen and (min-width: 60em) {
    width: 20vw;
    height: 15vw;
    display: block;
  }

  @media screen and (min-width: 30em) and (max-width: 60em) {
    width: 40vw;
    height: 30vw;
    display: table-cell;
  }

  @media screen and (max-width: 30em) {
    width: 100vw;
    height: 50vw;
  }
}

.recommended-post div {
  display: inline-block;
  text-align: left;
  vertical-align: middle;

  @media screen and (min-width: 60em) {
    display: block;
  }

  @media screen and (min-width: 30em) and (max-width: 60em) {
    display: table-cell;
  }
}

.recommended-post h4,
.recommended-post p {
  margin-top: $spacing1;
  margin-bottom: $spacing1;
  font-size: $font-size5;
}
