@import "../../styles/main.scss";

.author-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: $spacing4;
}

.author-wrapper {
  @extend .bg-very-light-gray;
  border-radius: $border-radius4;
  color: #333333;
  margin: $spacing3;
  padding: $spacing3;

  @media screen and (min-width: 60em) {
    margin: $spacing4;
    padding: $spacing4;
  }

  h2 {
    margin: $spacing0;
    padding: $spacing0;
  }

  &:hover {
    @extend .text-color-secondary;
    background: $color-primary;
  }
}
