// ********** Colors

$color-primary: #e6eaf3;
$color-secondary: #ee6f57;
$color-tertiary: #1f3c88;
$color-tertiary-light: #44588a;
$color-tertiary-dark: #14285a;

$font-size1: 3rem;
$font-size2: 2.25rem;
$font-size3: 1.5rem;
$font-size4: 1.25rem;
$font-size5: 1rem;
$font-size6: 0.875rem;
$font-size7: 0.75rem;

$spacing0: 0;
$spacing1: 0.25rem;
$spacing2: 0.5rem;
$spacing3: 1rem;
$spacing4: 2rem;
$spacing5: 4rem;
$spacing6: 8rem;
$spacing7: 16rem;

$border-radius0: 0;
$border-radius1: 0.125rem;
$border-radius2: 0.25rem;
$border-radius3: 0.5rem;
$border-radius4: 1rem;
$border-radius-100: 100%;
$border-radius-pill: 9999px;

$max-width1: 1rem;
$max-width2: 2rem;
$max-width3: 4rem;
$max-width4: 8rem;
$max-width5: 16rem;
$max-width6: 32rem;
$max-width7: 48rem;
$max-width8: 64rem;
$max-width9: 96rem;

// ********** Fonts

// Base Font
// font-family: "Open Sans", sans-serif;

// Font for site title used on header, footer and hero on index page
// font-family: 'Rock Salt', cursive;

// Font for custom headers
// font-family: 'Mansalva', cursive;

// Font for <blockquote> quotation mark
// font-family: 'Lily Script One', cursive;

// ********** Customise Standard Elements

// ********** Custom Classes

//hide element but make it accessible
.clip {
  position: fixed !important;
  _position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.dim {
  opacity: 1;
  transition: opacity 0.15s ease-in;
}
@media (hover: hover){
  .dim:hover {
    opacity: 0.5;
    transition: opacity 0.15s ease-in;
  }
}

.no-underline {
  text-decoration: none;
}

// Standard Page Width

.standard-page-width {
  width: 100%;
  @media screen and (min-width: 60em) {
    max-width: $max-width8;
  }
}

// background colors
.bg-primary {
  background-color: $color-primary;
}

.bg-very-light-gray {
  background-color: #f4f4f4;
}

// text colors

.text-color-secondary {
  color: $color-secondary;
}

.text-color-gray {
  color: gray;
}

// custom headings

h1.page-heading {
  margin-bottom: $spacing4;
  margin-top: $spacing6;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

h2.section-heading {
  display: block;
  line-height: 1.5;
  margin-bottom: $spacing3;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

h3.section-sub-heading {
  font-family: "Open Sans", sans-serif;
}

// links and buttons

.nav-link {
  font-size: $font-size5;
  text-decoration: none;
}

.button-base {
  @extend .dim;

  font-size: $font-size5;
  color: white;
  padding: $spacing3;
  border-radius: $border-radius2;
  background-color: $color-tertiary;
  outline: none;
}

.icon-base {
  color: #333333;
  opacity: 1;
  transition: opacity 0.15s ease-in;
  vertical-align: middle;

  &:hover {
    @extend .text-color-secondary;
  }
}

.icon {
  @extend .icon-base;

  font-size: $font-size4;
}

.icon-large {
  @extend .icon-base;

  font-size: $font-size3;
}
