@import "../styles/main.scss";

// Hero section

.hero-banner {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* The hero image */
.hero-image {
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 50vh;

  @media screen and (max-width: 60em) {
    height: 100vh;
  }
}

.hero-section {
  @extend .bg-very-light-gray;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.hero-column {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 60em) {
    width: 33%;
  }
}

.hero-text-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.hero-title {
  @extend .text-color-secondary;

  display: block;
  line-height: 1.5;
  padding-left: $spacing4;
  padding-right: $spacing4;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}

.hero-subtitle {
  line-height: 1.5;
  padding-left: $spacing4;
  padding-right: $spacing4;
  color: white;
  font-family: "Open Sans", sans-serif;
}

// Main feature section

.main-feature-section {
  @extend .standard-page-width;
  margin-left: auto;
  margin-right: auto;
  margin-top: $spacing4;
  padding-left: $spacing4;
  padding-right: $spacing4;
  text-align: center;

  @media screen and (min-width: 60em) {
    margin-top: $spacing6;
    padding-left: $spacing5;
    padding-right: $spacing5;
  }
}

// Latest posts section

.latest-posts-section {
  @extend .standard-page-width;

  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: $spacing4;
}

.latest-posts-section hr {
  margin-top: $spacing5;
  border-style: solid;
  border-color: lightgray;
  border-bottom: 1px;

  @media screen and (max-width: 60em) {
    width: 90%;
  }
}

// Feature tags sections

.featured-tags-section {
  margin-left: $spacing2;
  margin-right: $spacing2;
  margin-top: $spacing5;
}

// Subscribe section

.subscribe-section {
  @extend .bg-primary;

  margin-top: $spacing5;
  @media screen and (min-width: 60em) {
    margin-top: $spacing6;
  }
}

// About me section

.about-me-section {
  @extend .standard-page-width;

  margin: $spacing5 auto;
  padding-left: $spacing2;
  padding-right: $spacing2;

  @media screen and (min-width: 60em) {
    margin: $spacing6 auto;
  }
}

// Link style

.show-all-link {
  text-decoration: underline;
  text-transform: uppercase;
}
