@import "../styles/main.scss";

.privacy-policy{
  margin-left: $spacing2;
  margin-right: $spacing2;
  margin-bottom: $spacing5;
  padding: $spacing5;
  text-align: center;
  border-radius: $border-radius4;
  background-color: $color-primary;

  @media screen and (min-width: 60em) {
    margin-bottom: $spacing6;
  }
}
