@import "../styles/main.scss";

.section-wrapper {
  @extend .bg-primary;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: $spacing5;
  border-radius: $border-radius4;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 60em) {
    flex-direction: row;
    margin-bottom: $spacing6;
  }
}

.content-wrapper-with-image {
  order: 1;
  padding: $spacing2;
  text-align: center;
  width: 90%;

  @media screen and (min-width: 60em) {
    padding: $spacing4;
    width: 50%;
  }
}

.content-wrapper-without-image {
  order: 1;
  padding: $spacing2;
  text-align: center;

  @media screen and (min-width: 60em) {
    padding: $spacing4;
  }
}

.text-wrapper {
  ol,
  ul {
    list-style-position: inside;
  }
}

.image-wrapper {
  order: 5;
  width: 100%;

  @media screen and (min-width: 60em) {
    width: 50%;
  }
}

.image-wrapper-first {
  order: 5;
  width: 100%;

  @media screen and (min-width: 60em) {
    order: 0;
    width: 50%;
  }
}
