@import "../styles/main.scss";

.post {
  @extend .bg-very-light-gray;
  @extend .br4, .dark-gray, .flex, .flex-column, .items-center, .mv2;

  margin-left: 0.5%;
  margin-right: 0.5%;

  @media screen and (min-width: 60em){
    flex: 0 1 32%;
  }
  @media screen and (min-width: 30em) and (max-width: 60em){
    flex: 0 1 49%;
  }
  @media screen and (max-width: 30em){
    flex: 0 1 100%;
  }
}

.post a{
  height: 100%;
  width: 100%;
}

.post:hover {
  @extend .text-color-secondary;

  background: $color-primary;

  .subtitle{
    @extend .text-color-secondary;
  }
}

.post-content {
  @extend .w-100, .tl, .pa2;
}

.post-img {
  
  @extend .br4, .br--top;
  height: 0px;
  padding-bottom: 75%;
  //@extend .br--right-l;
}

.title {
  @extend .f4, .lh-copy, .ma0;

  font-family: "Open Sans", sans-serif;
}

.subtitle {
  @extend .f6, .ma0, .text-color-gray;
}
