@import "../styles/main.scss";

.post {
  @extend .bg-very-light-gray;

  border-radius: $border-radius4;
  color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $spacing2;
  margin-bottom: $spacing2;

  @media screen and (min-width: 60em) {
    flex: 0 1 32%;
    margin-left: 0.66%;
    margin-right: 0.66%;
  }
  @media screen and (min-width: 30em) and (max-width: 60em) {
    flex: 0 1 49%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  @media screen and (max-width: 30em) {
    flex: 0 1 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
}

.post a {
  height: 100%;
  width: 100%;
}

@media (hover: hover) {
  .post:hover {
    background: $color-primary;
    
    a {
      color: $color-secondary;
    }

    .subtitle {
      color: $color-secondary;
    }
  }
}

.post-content {
  width: 100%;
  text-align: left;
  padding: $spacing3;
}

.post-img {
  border-radius: $border-radius4;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 0px;
  padding-bottom: 75%;
}

.title {
  font-family: "Open Sans", sans-serif;
  font-size: $font-size4;
  line-height: 1.5;
  margin: $spacing0;
}

.subtitle {
  @extend .text-color-gray;

  font-size: $font-size6;
  margin: $spacing0;
}
