@import "../styles/main.scss";

.form {
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width7;

  @media screen and (max-width: 30em) {
    border-radius: $border-radius2;
  }
}

.form div {
  text-align: left;
}

.form-input {
  border-radius: $border-radius2;
  border: none;
  border-width: 0.125rem;
  outline: 0;
  font-size: $font-size4;
  -webkit-appearance: none;
  -moz-appearance: none;
  line-height: 1;
  padding: $spacing3;
  margin-top: $spacing2;
  margin-bottom: $spacing2;
  width: 100%;
  background-color: white;
  resize: none;
}

.form-submit {
  @extend .button-base;

  border: none;
  cursor: pointer;
  text-align: center;
  width: 100%;
  opacity: 1;
  transition: opacity 0.15s ease-in;

  &:hover {
    border-color: $color-secondary;
    color: white;
    transition: background-color 0.15s ease-in-out;
    opacity: 0.5;
    transition: opacity 0.15s ease-in;
  }

  &:active {
    opacity: 0.5;
    transition: opacity 0.15s ease-in;
  }
}
