@import "../styles/main.scss";

.footer-wrapper {
  @extend .bg-primary;

  border-top: 1px solid $color-secondary;
}

.footer {
  @extend .standard-page-width;

  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: $spacing5;
  padding-bottom: $spacing5;
}

.footer-column {
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @media screen and (min-width: 60em) {
    width: 33.33333%;
  }
}

.footer-row {
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  width: 100%;
  text-align: center;
}

.footer-row-content {
  @extend .footer-row;

  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-left: $spacing2;
  padding-right: $spacing2;

  @media screen and (min-width: 60em) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-row-meta {
  @extend .footer-row;
}

.footer-column-name {
  @extend .footer-column;

  text-align: center;

  @media screen and (min-width: 60em) {
    text-align: left;
  }
}

.footer-column-links {
  @extend .footer-column;

  margin-top: $spacing3;
  text-align: center;
}

.nav-item {
  @extend .nav-link;

  display: block;
  margin-bottom: $spacing3;
}

.footer-column-social {
  @extend .footer-column;

  text-align: center;
  margin-bottom: $spacing3;

  @media screen and (min-width: 60em) {
    text-align: right;
  }

  a {
    margin-left: $spacing2;
    margin-right: $spacing2;

    @media screen and (min-width: 60em) {
      margin-left: $spacing4;
      margin-right: $spacing0;
    }
  }
}

.name {
  @extend .text-color-secondary;

  font-family: "Rock Salt";
  font-size: $font-size4;
}

.meta-links a{
  @extend .nav-link;

  margin-left: $spacing3;
  margin-right: $spacing3;
}
