@import "../styles/main.scss";

.sticky-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header-wrapper {
  @extend .sticky-header;

  background-color: white;
  border-bottom: 1px solid $color-secondary; 
}

.header-wrapper-index{
  @extend .sticky-header;

  .nav-item{
    color: white;
  }
}

.header {
  margin-right: auto;
  margin-left: auto;

  @extend .standard-page-width;
}

.nav-main {
  box-sizing: border-box;
  display: block;
  padding: $spacing3;
  @media screen and (min-width: 60em) {
    display: table;
  }
}

.rwd-line{
  display: inline;
  @media screen and (max-width: 30em) {
    display: block;
  }
}

.nav-home-link {
  @extend .text-color-secondary;

  border-bottom: solid 1px; 
  display: block;
  font-size: $font-size5;
  text-decoration: none;
  margin-bottom: $spacing2;
  padding-bottom: $spacing2;
  text-align: center;
  line-height: 1.5;
  font-family: "Rock Salt";

  &:hover {
    @extend .text-color-secondary;
  }

  @media screen and (min-width: 60em) {
    border-bottom: none;
    display: table-cell;
    vertical-align: middle;
    padding-bottom: $spacing0;
    text-align: left;
    white-space: nowrap;
    line-height: 1;
    font-size: $font-size3;
  }

  @media screen and (min-width: 30em) and (max-width: 60em) {
    font-size: $font-size3;
  }
}

.nav-item-list {
  display: block;
  text-align: center;
  width: 100%;

  @media screen and (min-width: 60em) {
    display: table-cell;
    text-align: right;
    width: 75%;
    vertical-align: middle;
  }
}

.nav-item {
  @extend .nav-link;

  display: inline-block;
  margin-left: $spacing3;

  @media screen and (min-width: 60em) {
    margin-left: $spacing4;
  }
}

.nav-item-active {
  @extend .text-color-secondary;
}
