@import "../styles/main.scss";

.sticky-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header-wrapper {
  @extend .sticky-header;

  @extend .bg-white;
  
  border-bottom: 1px solid $color-secondary; 
}

.header-wrapper-index{
  @extend .sticky-header;

  .nav-item{
    @extend .white;
  }
}

.header {
  @extend .center;

  @extend .standard-page-width;
}

.nav-main {
  @extend .border-box, .db, .pa3;
  @extend .dt-l;
}

.rwd-line{
  display: inline;
  @media screen and (max-width: 30em) {
    display: block;
  }
}

.nav-home-link {
  @extend .text-color-secondary;

  @extend .bb, .db, .f5, .mb2, .no-underline, .pb2, .tc, .v-mid, .lh-copy;
  @extend .f3-m;
  @extend .bb-0-l, .dtc-l, .pb0-l, .tl-l, .nowrap-l, .lh-solid-l, .f3-l;

  &:hover {
    @extend .text-color-secondary;
  }

  font-family: "Rock Salt";
}

.nav-item-list {
  @extend .db, .tc, .v-mid, .w-100;
  @extend .dtc-l, .tr-l, .w-75-l;
}

.nav-item {
  @extend .nav-link;

  @extend .dib, .ml3;
  @extend .ml4-l;
}

.nav-item-active {
  @extend .text-color-secondary;
}
