@import "../styles/main.scss";

.layout {
  // Header is fixed at 66px on large screens, and 102px on smaller screens

  margin-top: 66px;
  @media screen and (max-width: 60em) {
    margin-top: 102px;
  }
  @media screen and(max-width: 30em)  {
    margin-top: 90px;
  }
}

.layout-narrow {
  @extend .layout, .standard-page-width;

  @extend .center;
}

.cookie-policy-text {
  color: white;
}
