@import "../styles/main.scss";

.container {
  display: flex;
  justify-content: space-between;
  margin-top: $spacing5;
  margin-bottom: $spacing5;
}

.title-text {
  color: #777777;
}

.link {
  font-size: $font-size4;
  color: #333333;
  text-decoration: none;

  &:hover {
    @extend .text-color-secondary;
  }
}

.link-arrow-icon {
  margin-left: $spacing1;
  margin-right: $spacing1;
  vertical-align: middle;
}

.prev{
  text-align: left;
  margin-right: $spacing1;
  width: 50%;
}

.next{
  text-align: right;
  margin-left: $spacing1;
  width: 50%;
}
