@import "../styles/main.scss";

.recipe-section {
  padding: $spacing2;
  background-color: $color-tertiary-light;
}

.recipe-img{
  width: 50vw;
  height: 50vw;
  max-width: 400px;
  max-height: 400px;
  border-radius: 50%;
  margin: 0 auto;
}

.recipe-header{
  text-align: center;
  color: white;
}

.recipe-main-section{
  padding: $spacing4;
  background-color: white;
}

.info-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
}

.info-container div{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: $spacing2;
  margin-bottom: $spacing2;
}

.info-container div p{
  margin-top: 0;
  margin-bottom: 0;
}

.recipe-header h2{
  margin-top: $spacing4;
  margin-bottom: $spacing4;
}

.recipe-header p{
  margin-left: $spacing1;
  margin-right: $spacing2;
  display: inline-block;
  vertical-align: middle;
}

.recipe-header svg{
  vertical-align: middle;
  margin: 0 auto;
}

.instructions-list{
  padding-left: 1em;
}

.ingredients{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ingredients-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: $spacing1;
  margin-bottom: $spacing1;
}

.ingredients-row div{
  flex-basis: 48%;
  margin: 1%;
}