@import "../styles/main.scss";

.container{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.container div{
    display: inline;

    a {
        margin-left: $spacing3;
    }
}

.container span{
    font-size: $font-size6;
    color: #777777;
    display: block;
    @media screen and (min-width: 60em){
        display: inline;
    }
}